.wrapper::before { /*Псевдоселектор - добавляет контент в начало тэга*/
    content: 'Меню'; /*Обязательный параметр*/
    
}

.wrapper::after { /*Псевдоселектор - Добавляет контент в конце тэга*/
    content: url('gogle.png');
}

ul li:first-child {
    /*Псевдоселектор - выбирает 1 элемент зи детей тэга*/
    color: red;
}