@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400|Roboto:300,300i,400,400i,500,500i,700,700i|Taprom&subset=cyrillic,cyrillic-ext');

html{
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

a{
    color: #86c043;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Функциональные классы */

.float-l{
    float: left;
}

/* Header */

.header-logo{
    width: 390px;
}

.header-address{
    width: 310px;
}

.header-contact{
    width: 335px;
}

.header-price{
    width: 225px;
}

.header-top{
    padding: 15px 0;
}

.header-top:after{
    content: '';
    display: block;
    clear: both;
    
}
